.desktop-6-child,
.desktop-6-item {
  position: absolute;
  top: 49px;
  left: 1251px;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkviolet);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 130px;
  height: 43px;
}
.desktop-6-item {
  top: 772px;
  left: 174px;
  border: 4px solid var(--color-white);
  width: 211px;
  height: 61px;
  cursor: pointer;
}
.desktop-6-inner,
.saiba-mais {
  position: absolute;
  top: 781px;
  left: 218px;
}
.desktop-6-inner {
  top: 772px;
  left: 610px;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkviolet);
  border: 4px solid var(--color-white);
  box-sizing: border-box;
  width: 211px;
  height: 61px;
  cursor: pointer;
}
.rectangle-div,
.saiba-mais1 {
  position: absolute;
  top: 781px;
  left: 654px;
}
.rectangle-div {
  top: 772px;
  left: 1055px;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkviolet);
  border: 4px solid var(--color-white);
  box-sizing: border-box;
  width: 211px;
  height: 61px;
  cursor: pointer;
}
.saiba-mais2 {
  position: absolute;
  top: 781px;
  left: 1099px;
}
.escolha-o-e-book {
  position: absolute;
  top: 98px;
  left: 566px;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-100);
}
.desktop-6-child1 {
  position: absolute;
  top: 78px;
  left: 403px;
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-200);
  border: 4px solid var(--color-darkviolet);
  box-sizing: border-box;
  width: 637px;
  height: 88px;
}
.desktop-6-child2,
.desktop-6-child3,
.rectangle-icon {
  position: absolute;
  top: 259px;
  left: 112px;
  border-radius: var(--br-81xl);
  width: 334px;
  height: 470px;
  object-fit: cover;
}
.desktop-6-child2,
.desktop-6-child3 {
  left: 549px;
}
.desktop-6-child3 {
  left: 994px;
}
.voltar {
  position: absolute;
  top: 52px;
  left: 1277px;
}
.professor,
.ti,
.veterinario {
  position: absolute;
  top: 205px;
  left: 267px;
}
.professor,
.veterinario {
  left: 659px;
}
.veterinario {
  left: 1091px;
}
.desktop-6 {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-bebas-neue);
}
.btn {
    display: inline-block;
    padding: 10px 19px;
    background: #9e00ff;
    border: 3px solid rgb(255 255 255);
    border-radius: 26px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    font-size: 25px;
    color: rgb(231 218 231);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
}body {
  margin: 0;
  line-height: normal;
}

:root {
  --font-bebas-neue: "Bebas Neue";
  --font-share-tech-mono: "Share Tech Mono";

  --font-size-17xl: 36px;
  --font-size-21xl: 40px;
  --font-size-41xl: 60px;
  --font-size-11xl: 30px;

  --color-black: #000;
  --color-white: #fff;
  --color-gray-100: #fafafa;
  --color-gray-200: rgba(255, 255, 255, 0);
  --color-darkviolet: #9e00ff;

  --br-81xl: 100px;
}
